.header {
    background: #0f172a;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    user-select: none;
}

.headerText {
    font-size: 4rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -0.5ch;
    font-weight: 800;
    text-align: center;
    text-shadow:
            0.03em 0.03em 0 #00b4d8,
            /* aqua blue */
            0.06em 0.06em 0 #6124ef,
            /* rich indigo */
            0.09em 0.09em 0 #00c896,
            /* teal green */
            0.12em 0.12em 0 #02a95c;
        /* deep green */
        /* deep green */
}

.navItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 3.8rem;
}

.icons {
    transition-duration: 300ms;
    cursor: pointer;
    
}

.icons:hover {
    color: #e63946;
    transform: scale(1.1);
    text-shadow: 0.03em 0.03em 0 white;
}

.anchor {
    text-decoration: inherit;
    outline: none;
    color: unset;

}

@media (min-width: 640px) {
    .header {
        flex-direction: column;
    }

    .headerText {
        writing-mode: unset;
        text-orientation: unset;
        letter-spacing: unset;
        font-size: 6rem;
        letter-spacing: 4px;
    }

    .navItems {
        flex-direction: row;
        font-size: 5.5rem;
        gap: 50px;
    }
}
